div.concatUs {
  margin: 2rem 0;
  .secContactUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 780px) {
      flex-direction: column;
    }

    form {
      margin-top: 20px;
      flex-direction: column;
      #email,
      #msg {
        all: unset;
        background-color: rgba(63, 63, 70, 0.15);
        width: 20rem;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        border-radius: 5px;
        transition: 0.3s;
        font-size: 1.1rem;

        &:focus,
        &:hover {
          outline: 1px solid rgb(45, 212, 191);
        }

        @media (max-width: 425px) {
          width: 12rem;
        }
      }

      #msg {
        min-height: 6rem;
        resize: vertical;
      }

      button {
        all: unset;
        cursor: pointer;
        background-color: rgba(36, 37, 46);
        color: white;
        padding: 0.6rem 35px;
        font-size: 1.05rem;
        text-transform: capitalize;
        opacity: 0.5;
        border-radius: 5px;
        transition: 0.5s;

        display: flex;
        margin: 15px auto 0;

        &:hover {
          opacity: 1;
          outline: 1px solid rgb(45, 212, 191);
          font-weight: bolder;
        }
      }
    }

    .contactAnimation {
      width: 50%;
      position: relative;

      @media (max-width: 780px) {
        display: none;
      }
      .letter-image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
      }

      .animated-mail {
        position: absolute;
        height: 150px;
        width: 200px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        transition: 0.4s;

        .body {
          position: absolute;
          bottom: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 100px 200px;
          border-color: transparent transparent rgb(45, 200, 191) transparent;
          z-index: 2;
        }

        .top-fold {
          position: absolute;
          top: 50px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 50px 100px 0 100px;
          -webkit-transform-origin: 50% 0%;
          -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
          -moz-transform-origin: 50% 0%;
          -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
          transform-origin: 50% 0%;
          transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
          border-color: rgb(35, 212, 191) transparent transparent transparent;
          z-index: 2;
        }

        .back-fold {
          position: absolute;
          bottom: 0;
          width: 200px;
          height: 100px;
          background: rgb(45, 212, 191);
          z-index: 0;
        }

        .left-fold {
          position: absolute;
          bottom: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 50px 0 50px 100px;
          border-color: transparent transparent transparent rgb(45, 190, 191);
          z-index: 2;
        }

        .letter {
          left: 20px;
          bottom: 0px;
          position: absolute;
          width: 160px;
          height: 60px;
          background: white;
          z-index: 1;
          overflow: hidden;
          -webkit-transition: 0.4s 0.2s;
          -moz-transition: 0.4s 0.2s;
          transition: 0.4s 0.2s;

          .letter-border {
            height: 10px;
            width: 100%;
            background: repeating-linear-gradient(
              -45deg,
              #cb5a5e,
              #cb5a5e 8px,
              transparent 8px,
              transparent 18px
            );
          }

          .letter-title {
            margin-top: 10px;
            margin-left: 5px;
            height: 10px;
            width: 40%;
            border-radius: 4px;

            background: rgb(45, 212, 191);
          }
          .letter-context {
            margin-top: 10px;
            margin-left: 5px;
            height: 10px;
            width: 25%;
            border-radius: 5px;
            background: rgb(45, 180, 191);
          }

          .letter-stamp {
            margin-top: 30px;
            margin-left: 120px;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            background: #cb5a5e;
            opacity: 0.3;
          }
        }
      }

      .shadow {
        position: absolute;
        top: 200px;
        left: 50%;
        width: 400px;
        height: 30px;
        transition: 0.4s;
        transform: translateX(-50%);
        -webkit-transition: 0.4s;
        -webkit-transform: translateX(-50%);
        -moz-transition: 0.4s;
        -moz-transform: translateX(-50%);

        border-radius: 100%;
        background: radial-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0)
        );
      }

      .letter-image:hover {
        .animated-mail {
          transform: translateY(50px);
          -webkit-transform: translateY(50px);
          -moz-transform: translateY(50px);
        }

        .animated-mail .top-fold {
          transition: transform 0.4s, z-index 0.2s;
          transform: rotateX(180deg);
          -webkit-transition: transform 0.4s, z-index 0.2s;
          -webkit-transform: rotateX(180deg);
          -moz-transition: transform 0.4s, z-index 0.2s;
          -moz-transform: rotateX(180deg);
          z-index: 0;
        }

        .animated-mail .letter {
          height: 180px;
        }

        .shadow {
          width: 250px;
        }
      }
    }
  }
}
