div.concatUs {
  margin: 2rem 0;
  .secContactUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 780px) {
      flex-direction: column;
    }

    form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      #email,
      #msg {
        all: unset;
        width: 23rem;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        border-radius: 5px;
        transition: 0.3s;
        font-size: 1.1rem;

        &:focus,
        &:hover {
          outline: 1px solid rgb(45, 212, 191);
        }

        @media (max-width: 425px) {
          width: 12rem;
          margin-top: 15px;
        }
      }

      #msg {
        min-height: 7rem;
        resize: vertical;
      }

      .Divtextarea {
        @media (max-width: 425px) {
          flex-direction: column;
          #msg {
            width: 80%;
            margin: 12px auto 0;
          }
        }
      }

      button {
        all: unset;
        cursor: pointer;
        background-color: rgba(36, 37, 46);
        color: white;
        padding: 0.6rem 35px;
        font-size: 1.05rem;
        text-transform: capitalize;
        opacity: 0.5;
        border-radius: 5px;
        transition: 0.5s;

        width: fit-content;
        margin-top: 25px;

        &:hover {
          opacity: 1;
          outline: 1px solid rgb(45, 212, 191);
          font-weight: bolder;
        }
      }
    }

    //======================================================================================//

    //# Box animation
    .contactAnimation {
      width: 50%;
      position: relative;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}
