.Main {
  margin-bottom: 3rem;
  div.firstDiv {
    button {
      all: unset;
      background-color: rgba(36, 37, 46, 1);
      color: white;
      padding: 0.7rem 0;
      text-align: center;
      font-size: 1.05rem;
      text-transform: capitalize;
      opacity: 0.5;
      letter-spacing: 0.5px;
      border-radius: 5px;
      transition: 0.3s;

      &.active {
        opacity: 1;
        border: 1px solid var(--blue);
        font-weight: bolder;
        padding: 0.9rem 0;
      }
      &:hover {
        opacity: 1;
        border: 1px solid var(--blue);
      }
    }
  }

  div.secDiv {
    .Card {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      max-width: 300px;
      div {
        h1 {
          font-size: 23px;
        }
        p {
          color: var(--supTitleInLight);
          line-height: 1.12;
          letter-spacing: 0.7;
          margin: 10px 0;
        }
        nav {
          align-items: center;
          padding: 10px;
          .navIcons button {
            all: unset;
            background-color: gray;
            padding: 10px;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              color: white;
            }
          }
          .naveBtn {
            display: flex;
            align-items: center;
            color: var(--blue);
            gap: 5px;
            button {
              all: unset;
            }
          }
        }
      }
    }
  }
}
