section {
  margin-top: 3rem;
  
  @media (max-width: 770px) {
    gap: 2rem;
  }

  div:nth-child(1) {
    flex-grow: 1;

    .parent-avatar {
      display: flex;
      align-items: end;

      @media (max-width: 600px) {
        justify-content: center;
      }

      img {
        width: 150px;
        height: 150px;
        border: 3px solid #9ebbdc;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 2px 2px 40px gray inset;

        &:hover {
          padding: 0;
          transition: 0.3s;
        }
      }
      span {
        color: var(--blue);
        font-size: 1.2rem;
      }
    }

    h1 {
      margin-top: 1rem;
      max-width: 700px;
      line-height: 1.2;
    }

    p {
      margin-top: 1rem;
      max-width: 700px;
    }

    .media {
      margin: 1.5rem 0;
      @media (max-width: 770px) {
        justify-content: center;
      }
      span {
        background-color: var(--border);
        padding: 0.65rem;
        border-radius: 50%;
        font-size: 20px;

        a {
          text-decoration: none;
          color: white;
          display: flex;
        }
        &:hover {
          transform: translateY(-10px);
          transition: 0.3s;
          a {
            color: var(--blue);
          }
        }
      }
    }
  }

  div:nth-child(2) {
    border: 1px solid red;
  }
}
