@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #000;
  --secondry: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 244);
  --supTitleInDark: rgb(159, 159, 169);
  --supTitleInLight: rgba(82, 82, 92);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93 188 252);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(24 24 27);

  // Scroll Bar
  --sb-track-color: #232e33;
  --sb-thumb-color: rgb(93 188 252);
  --sb-size: 12px;

  &::-webkit-scrollbar {
    width: var(--sb-size);
  }
  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 20px;
    border: 2px solid var(--sb-track-color);
  }

  /* Fallback for browsers that don't support webkit scrollbars */
  @supports (scrollbar-color: auto) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
      scrollbar-width: thin;
    }
  }

  .Container {
    @media (max-width: 600px) {
      max-width: 95%;
    }
    @media (min-width: 601px) and (max-width: 900px) {
      max-width: 90%;
    }

    @media (min-width: 901px) and (max-width: 1200px) {
      max-width: 85%;
    }

    @media (min-width: 1200px) {
      max-width: 90%;
    }
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
