li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.4rem;
  padding: 0 2.4rem;

  span {
    @media (max-width: 600px) {
      display: none;
    }
  }

  button:first-of-type {
    @media (min-width: 600px) {
      display: none;
    }
  }

  nav {
    padding: 0.75rem 1.5rem;
    border-radius: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.625rem 2.25rem 0rem,
      rgba(0, 0, 0, 0.06) 0rem 0rem 0rem 0.0625rem;

    @media (max-width: 600px) {
      display: none;
    }

    ul {
      display: flex;
      gap: 16px;
    }
    li {
      a {
        text-decoration: none;
        opacity: 0.8;
        font-size: 0.9rem;
        font-weight: 500;
        &:hover {
          opacity: 1;
          transition: 0.3s;
          cursor: pointer;
          color: var(--blue) !important;
        }
      }
    }
  }

  button {
    all: unset;
    display: flex;
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px inset;
  }

  // Model Menu
  div {
    position: fixed;
    inset: 0;
    background-color: rgba(40, 40, 48, 0.75);
    z-index: 100;
    transition: 0.5s;

    ul {
      width: 75%;
      margin: 2.2rem auto;
      border-radius: 1rem;
      padding: 1rem 2rem;
      // background-color: var(--secondry);
      overflow: hidden;

      animation: OpenMenu 0.4s linear 0s forwards;

      @keyframes OpenMenu {
        0% {
          scale: 0;
        }
        100% {
          scale: 1;
        }
        0% {
          scale: 0;
        }
      }

      li {
        padding: 25px 0 15px;
        position: relative;

        svg {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;

          &:hover {
            transform: rotate(180deg);
            transition: 0.2s;
            color: red;
          }
        }

        &:not(:last-child):not(:first-child) {
          border-bottom: 1px solid var(--border);
        }
        &:first-child {
          padding-bottom: 0;
        }
        &:nth-child(2) {
          padding-top: 10px;
        }
        &:hover:not(:first-child) {
          transform: translateX(40px);
          transition: 0.3s;
          color: var(--blue);
        }

        a {
          text-decoration: none;
          font-size: 1rem;
          font-weight: bolder;
        }
      }
    }
  }
}
